<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Andon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Andon.Properties.Settings>
            <setting name="FormTittle" serializeAs="String">
                <value>PLANT B</value>
            </setting>
            <setting name="PLANT_BD_CD" serializeAs="String">
                <value>PB</value>
            </setting>
            <setting name="OP_GROUP" serializeAs="String">
                <value>FGA</value>
            </setting>
            <setting name="LINE_CD" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="ROW_HEIGHT" serializeAs="String">
                <value>50</value>
            </setting>
        </Andon.Properties.Settings>
    </userSettings>
</configuration>
